body {
    height: 100vh;
    font-size: 16px;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #57607c;
}

a:visited {
    color: #57607c;
}

img {
    max-width: 80%;
    padding: 20px;
}

.center {
    text-align: center
}

.right {
    text-align: right;
}

.content {
    flex: 1 0 auto;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 20px;
}

.siimple-btn + .siimple-btn {
    margin-left: 10px;
}

.siimple-p {
    font-size: 18px;
}

.header .siimple-content {
    padding-top: 20px
}

.header .siimple-jumbotron-title {
    font-size: 100px;
    line-height: 90px;
}

.header .siimple-jumbotron-detail {
    font-size: 24px;
}

.big-button {
    margin-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 48px;
    height: auto;

    font-size: 24px;
}

.header .download {
    background-color: #fff;
}

.featured {
    /* font-size: 16px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.featured-title {
    text-align: center;
    margin-bottom: 25px;
}

.featured-col {
}

.featured-col .siimple-h3 {
    margin-top: 5px;
}

.featured-col .material-icons {
    font-size: 80px;
}

.footer {
    background-color: #f0f5fb;
    padding-bottom: 50px;
    flex-shrink: 0;
}

.footer .siimple-h2 {
    margin: 0;
}

.footer .siimple-p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer-buttons {
    margin-top: 5px;
}

.mod-box {
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.mod-box-header {
    padding: 10px;
    margin: 0;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mod-box-header .siimple-box-title {
    font-size: 24px;
    margin: 0;
}

.mod-box-body {
    padding: 10px;
    font-size: 16px;
}

.mod-box-version {
    padding: 10px;
    border-top: 1px solid #c2d7f0;
    text-align: right;
}

.color-navy { color: #495169; }
.color-green { color: #18cd94; }
.color-teal { color: #15b7a1; }
.color-blue { color: #2a82ef; }
.color-purple { color: #9f73f2; }
.color-pink { color: #f45b93; }
.color-red { color: #ff003c; }
.color-orange { color: #ff734d; }
.color-yellow { color: #e6ac00; }
